body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #0f0f1a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1a1a2e;
  padding: 30px;
  border-radius: 15px;
  width: 340px;
  box-shadow: 0 0 20px #00000080;
  text-align: center;
}

input {
  width: 93%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 12px 0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4f63ff;
  color: white;
  font-size: 16px;
}

button:hover {
  background: #6d7aff;
}

.erro {
  background: #ff4f4f;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

.perfil {
  width: 380px;
  background: #1a1a2e;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4f63ff;
  margin-bottom: 10px;
}
 div.g-recaptcha {
  padding: 15px;
  background: #2a2a40;
  border-radius: 8px;
  margin-bottom: 10px;
}